<html>
  <head>
    <!-- set styling file -->
    <link rel="stylesheet" href="/styles.css">
    <title>New Message</title>
  </head>
  <body>
    <a href="/">Home</a>
    
    <%- include('footer') %>
  </body>
</html>